---
import type { GetStaticPaths } from 'astro'

import Layout from '@/components/Layout.astro'
import Paginator from '@/components/Paginator.astro'
import Post from '@/components/Post.astro'
import Tags from '@/components/Tags.astro'
import { getCollection } from 'astro:content'

export const getStaticPaths = (async ({ paginate }) => {
  const posts = (await getCollection('blog')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  return paginate(posts, { pageSize: 10 })
}) satisfies GetStaticPaths

const { page } = Astro.props

const { currentPage, data: posts } = page
---

<Layout title="記事一覧">
  <main
    class="mx-auto grid min-h-[calc(100vh-3.5rem)] w-full max-w-screen-lg grid-rows-[1fr,auto] gap-4 px-4 md:grid-cols-[2fr,1fr] md:grid-rows-1 md:gap-8 md:px-8"
  >
    <div class="rounded bg-indigo-50 px-4 py-6">
      <div class="prose">
        <h3>記事 {currentPage}</h3>
        <Paginator page={page} />
      </div>
      <div class="my-4 grid items-center divide-y border-y">
        {posts.map((v) => <Post post={v} />)}
      </div>
      <Paginator page={page} />
    </div>
    <div class="sticky top-14 rounded bg-indigo-50 px-4 py-6 md:h-[calc(100dvh-3.5rem)]">
      <Tags />
    </div>
  </main>
</Layout>
