<header class="sticky top-0 backdrop-blur-3xl">
  <div
    class="mx-auto flex max-w-4xl place-content-stretch place-items-center gap-2 p-4"
  >
    <img src="/icons/brain.svg" alt="a" class="h-6 w-6" />
    AI Collaboration Lab / 人工知能コラボレーション研究室
    <a
      href="https://github.com/nakada-lab"
      class="ml-auto"
      target="_blank"
      rel="”noreferrer”"
    >
      <img src="/icons/github.svg" alt="a" class="h-6 w-6" />
    </a>
  </div>
</header>
