---
import Layout from '@/components/Layout.astro'
import Profile from '@/components/Profile.astro'
import RecentPosts from '@/components/RecentPosts.astro'
import Tags from '@/components/Tags.astro'
---

<Layout title="中田研究室">
  <main
    class="mx-auto grid min-h-[calc(100vh-3.5rem)] w-full max-w-screen-lg grid-rows-[auto,auto] content-start gap-4 px-4 md:grid-cols-[2fr,1fr] md:grid-rows-[24rem,1fr] md:gap-8 md:px-8"
  >
    <Profile />
    <RecentPosts />
    <div class="rounded bg-indigo-50 px-4 py-6">
      <Tags />
    </div>
  </main>
</Layout>
