<div
  class="grid place-content-center place-items-center gap-8 rounded bg-indigo-50 px-4 py-6 md:col-span-2 md:grid-cols-2 md:flex-row"
>
  <img
    alt="icon"
    class="rounded-full md:justify-self-end"
    height="256"
    src="https://github.com/nakada-lab.png"
    width="256"
  />
  <div class="prose md:justify-self-start">
    <h3>中田 尚 <br />Takashi Nakada</h3>
    <p>大阪国際工科専門職大学 准教授 <br /> Associate Professor <br /> at IPUT Osaka</p>
    <p>
      <a href="https://www.iput.ac.jp/osaka/about/faculty_member/nakada_takashi/" rel="noreferrer" target="_blank"
        >IPUT教員紹介</a
      >
      <a href="https://researchmap.jp/takashinakada" rel="noreferrer" target="_blank">researchmap</a>
    </p>
  </div>
</div>
