---
import { Icon } from "astro-icon/components";
---

<header class="sticky top-0 backdrop-blur-3xl">
  <div
    class="res mx-auto flex h-14 max-w-4xl place-content-stretch place-items-center gap-4 font-bold"
  >
    <div class="sm:hidden">人工知能コラボレーション研究室</div>
    <div class="hidden sm:block">
      人工知能コラボレーション研究室 / AI Collaboration Lab
    </div>
    <a
      href="https://github.com/nakada-lab"
      class="ml-auto"
      target="_blank"
      rel="noreferrer"
    >
      <Icon name="lucide:github" size={24} />
    </a>
  </div>
</header>
